{% extends 'layout.html' %}
{% block body %}
<br><br>

{% if isLimitReach == True %}
<br>
Can only have 5 players in team!
<br>
{% endif %}
<br>
<br>
<div class = 'form'>
<form action='' method='POST'>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name }}  <br>
    {{ form.position.label }} {{ form.position }} <br>
    {{ form.club.label }} {{ form.club }} <br>
    {{ form.height.label }} {{ form.height }} <br>
    <p>
        <small>
            ** If club and height is not known leave blank **
        </small>
    </p>
    {{ form.submit }}
</form>
</div>

<h2>List of all Players</h2>
{% for player in all_players %}
        <br>
        {{ player.name }} <br>
        {{ player.position }}<br>
        {% if player.height != None %}
        {{ player.club }} 
        {% else %}
        N/A   
        {% endif %}
        <br>
        {% if player.height != None %}
        {{ player.height }} 
        {% else %}
        N/A   
        {% endif %}
        <br>
        
{% endfor %}



{% endblock body %}